.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100 vh;
  padding: 20px;
  
}

.input-field {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 200px;
  text-align: center;
}

.error-message {
  color: black;
  font-weight: bold;
}

.success-message {
  color: green;
  font-weight: bold;
}

.number-list {
  font-weight: bold;
}

